@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #000000;
  --color-primary-dull: #636db9;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 767px) {
  .no-bg-mobile {
    background-image: none !important;
  }
}
body, html {
  margin: 0;
  padding: 0;
}